#grid-container{
    height: 480px;
    width: 480px;
    display: grid;
    border: 2px solid  red;
    border-radius: 5px;
}

.flex-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 32px;
}

.buttons{
    display: flex;
    margin-bottom: 64px;
    gap: 64px;
}

button{
    border: 1px solid red;
    border-radius: 5px;
    padding: 12px;
    background-color: white;
    cursor: pointer;
}


button:hover{
    background-color: black;
    color: white;
    transition: 1s;
    transform: scale(1.5);
}

body{
    background-color:aliceblue
}








